<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hui.a7ifun.com.a7ifun">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sevenifun"
        android:label="去分享"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="hui.a7ifun.com.a7ifun.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hui.a7ifun.com.a7ifun.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name="hui.a7ifun.com.a7ifun.okhttp.activity.OKHttpActivity" />
        <activity android:name="hui.a7ifun.com.a7ifun.json.activity.NativeJsonParseActivity" />
        <activity android:name="hui.a7ifun.com.a7ifun.json.activity.GsonActivity" />
        <activity android:name="hui.a7ifun.com.a7ifun.json.activity.FastJsonActivity" />
        <activity android:name="hui.a7ifun.com.a7ifun.okhttp.activity.OKHttpInListViewActivity" />
        <activity android:name="hui.a7ifun.com.a7ifun.android_pulltorefresh.PullToRefreshActivity" />
        <activity android:name="hui.a7ifun.com.a7ifun.eventbus.EventBusActivity" />
        <activity android:name="hui.a7ifun.com.a7ifun.eventbus.EventBusSendActivity" />
        <activity android:name="hui.a7ifun.com.a7ifun.tablayout.activity.TabLayoutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            ></activity>
    </application>

</manifest>