<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.a7ifun.com.a7ifun">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sevenifun"
        android:label="去分享"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".okhttp.activity.OKHttpActivity" />
        <activity android:name=".json.activity.NativeJsonParseActivity" />
        <activity android:name=".json.activity.GsonActivity" />
        <activity android:name=".json.activity.FastJsonActivity" />
        <activity android:name=".okhttp.activity.OKHttpInListViewActivity" />
        <activity android:name=".android_pulltorefresh.PullToRefreshActivity" />
        <activity android:name=".eventbus.EventBusActivity" />
        <activity android:name=".eventbus.EventBusSendActivity"></activity>
    </application>

</manifest>